<ul id="top_ul">
     <li id="post_link">
          <%= link_to posts_path do %>
            <label>掲示板</label>
          <% end %>
     </li>
     <li id="weight_link">
          <%= link_to record_path  do %> 
            <label>体重チェック</label>
          <% end %>
     </li>
     <li id="search_link">
          <%= link_to search_show_path do %>
            <label>施設検索</label>
          <% end %>
     </li>
    <% if logged_in? %>
       <li id="log_link">
           <%= link_to user_path(current_user) do %> 
             <label>マイページ</label>
           <% end %>
     </li>
    <% else %>
      <li id="log_link">
           <%= link_to login_path do %> 
             <label>ログイン</label>
           <% end %>
     </li>
    <% end %>
    
</ul>