<%= provide(:title,"トップページ") %>
<div class="slideshow">
    <div><%= image_tag('/a.jpg') %></div>
    <div><%= image_tag('/b.jpg') %></div>
    <div><%= image_tag('/c.jpg') %></div>
</div>
<% 60.times do |i| %>
 <p><%= i %></p>
<% end %>