<%= provide(:title,"トップページ") %>
<% content_for(:body_attributes) do %>
　<meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<div id="tops">
</div>
<div class="slideshow">
    <!--スライドショ-->
    <div class="img_text">
     <%= image_tag('/a.jpg') %>
     <p>猫ちゃんオーナーのためのアプリ</p>
     <%= render 'top' %>
    </div>
    <div class="img_text">
     <%= image_tag('/b.jpg') %>
     <p>猫ちゃんオーナーのためのアプリ</p>
       <%= render 'top' %>
    </div>
     <div class="img_text">
     <%= image_tag('/c.jpg') %>
     <p>猫ちゃんオーナーのためのアプリ</p>
       <%= render 'top' %>
    </div>
</div>
  <!--/スライドショ-->
  <!--スマートフォンのみ表示-->
  <div id="phone_top_menu">
   <h2>メニュー</h2>
   <ul id="phone_ul">
    <li id="post_link2"><%= link_to "投稿",posts_path %> </li>
     <li id="weight_link2"><%= link_to "健康チェック",record_path %> </li>
     <li id="search_link2"><%= link_to "検索",search_show_path %> </li>
    <% if logged_in? %>
       <li id="log_link2">
           <%= link_to user_path(current_user) do %> 
             <label>マイページ</label>
           <% end %>
     </li>
    <% else %>
      <li id="log_link2">
           <%= link_to login_path do %> 
             <label>ログイン</label>
           <% end %>
     </li>
    <% end %>
    
   </ul>
  </div><br><br>
  <!--スマートフォンのみ表示--> 
<div id="top_maininfo">
 <h1>本サービスの目的</h1>
 <p>
  　本サービスは猫ちゃんたちのオーナーさんたちの日記を通した交流を主軸とし、<br>
  　そのほか疑問点や、こうしたサービスがあったらおもしろいな<br>
  　という意見をできるだけフィードバックして猫ちゃんのオーナーさんたちが、<br>
  　より良いキャットライフを送れることを目的とします。 
 </p>
</div>
