<%= provide(:title,"トップページ") %>
<% content_for(:body_attributes) do %>
　<meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<div id="main">
 <h2 id="image_title">本サービスメニュー</h2>
<div class="slideshow">
    <!--スライドショ-->
    <div class="img_text">

     <%= render 'top' %>
    </div>
</div>
  <!--/スライドショ-->
  <!--スマートフォンのみ表示-->
  <div id="phone_top_menu">
   <ul id="phone_ul">
    <li id="post_link2"><%= link_to "掲示板",posts_path %> </li>
     <li id="weight_link2"><%= link_to "体重チェック",record_path %> </li>
     <li id="search_link2"><%= link_to "施設検索",search_show_path %> </li>
    <% if logged_in? %>
       <li id="log_link2">
           <%= link_to user_path(current_user) do %> 
             <label>マイページ</label>
           <% end %>
     </li>
    <% else %>
      <li id="log_link2">
           <%= link_to login_path do %> 
             <label>ログイン</label>
           <% end %>
     </li>
    <% end %>
    
   </ul>
  </div>
  </div>
<style>
 body{
  background-image:url('a.jpg');
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

 }
 .nav{display:none;}

</style>
<script>
 
</script>