<div class="modal-dialog modal-xs">
    <div class="modal-content">
        <div class="modal-header">
          <div class="text-primary text-center">
                <div style="text-align:center;">
                    <h5 class="modal-title" id="label1">
                 <%= "#{@cat.cat_name}ちゃん詳細" %>
              </h5></div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button></div>
                </div>
            <div class="modal-body">
               <div class="row">
                 <div class="col-md-12">
                    <div style="width:100%;">
                      <%= image_tag(cat_show_image_url(@cat),style:"width:100%;") %>
                      <h1 id="cat_info">詳細</h1>
                      <table class="table table-bordered" id="cat_table">
                        <tr>
                          <th>年齢</th>
                          <td><%= "#{@cat.cat_age}歳" %></td>
                        </tr>
                         <tr>
                          <th>性別</th>
                          <td><%= @cat.cat_sex %></td>
                        <tr>
                          <th>体重</th>
                          <td><%= "#{@cat.cat_weight}kg" %></td>
                        </tr>
                      </table>
                    </div>
                 </div>
               </div>
              
            </div>
        </div>
    </div>
