<%= provide(:title,"新規会員登録") %>
<div id="new_user_head">
  <h1 id="user_new_h1">オーナーさん登録</h1>
</div>
 
<!--ユーザー新規登録メインエリア-->
<div id="new_user_area">
　
<div class="row">
  <div class="col-md-6 col-md-offset-3">
   
    
    <%= form_with(model: @user, local: true,multipart: true) do |f| %>
      <%= render 'shared/error_messages' %>
      <% if @user.errors.any? %>
        <style>#new_user_area{height:700px;}</style>
      <% end %>
      <div class="input-group">
        <label class="input-group-btn">
          <span class="btn btn-primary">
            プロフィール画像<%=f.file_field :image,style:"display:none" %>
          </span>
        </label>
        <input type="text" class="form-control" placeholder="画像を選択してください" readOnly="true">
      </div><br>
    
      <%= f.label :名前 %><span style="color:red"><strong>*必須です</strong></span>
      <%= f.text_field :name, placeholder:"オーナーさん名",class:"form-control" %><br>

      <%= f.label :メールアドレス %><span style="color:red"><strong>*必須です</strong></span>
      <%= f.email_field :email,placeholder:"ご利用なさっているメールアドレス",class:"form-control" %><br>

      <%= f.label :パスワード %><span style="color:red"><strong>*必須です</strong></span>
      <%= f.password_field :password,placeholder:"6文字以上でお願いします。",class:"form-control" %><br>

      <%= f.label :パスワード確認 %><span style="color:red"><strong>*必須です</strong></span>
      <%= f.password_field :password_confirmation,placeholder:"確認のためもう一度",class:"form-control" %><br>

      <%= f.submit "新規作成", class: "btn btn-primary btn-block btn-signup" %>
    <% end %>
  </div>
</div>    
</div>
<div id="new_user_back">
  <%= link_to "TOPへ戻る",root_path,data: {"turbolinks" => false},class:"btn btn-default" %>
</div>

<style>
    body{background-image:url("../back.png");background-color:pink;}
</style>
