<%= provide(:title,"#{@user.name}さん") %>

<div id="show_user_head" class="text-center text-primary">
    <h1>ｵｰﾅｰさんと猫ちゃんの個別ページ</h1>
</div>
<!----------/コンテナ1--------->
 <div id="user_area_show">
   <div class="container">
    <div class="row">
          <h1 style="letter-spacing:9px" id="show_h1"><%= "#{@user.name}さんページ" %></h1>
        <div class="col-md-6" >
            <div id="user_show_image" style="back-ground-color:#fff;">
                <%= image_tag(show_image_url(@user),size:"300x300") %>
            </div>
        </div>
        <div class="col-md-6">
            <div id="user_show_table">
            <table class="table table-bordered" id="user_table">
                <tr>
                    <th>オーナーさん名</th>
                    <td><%= @user.name %></td>
                </tr>
                 <tr>
                    <th>メールアドレス</th>
                    <td><%= @user.email %></td>
                </tr>
                <tr>
                    <th>登録猫ちゃん数</th>
                    <td></td>
                </tr>
                <tr>
                    <th>登録日</th>
                    <td><%= @user.created_at %></td>
                </tr>
            </table>
           
            <%= link_to "アカウント情報変更する",edit_user_path(@user),class:"btn btn-primary btn-block",style:"padding:20px",id:"edit_link" %>
         </div>    
        </div>
    </div>
    </div>
</div>
<!----------/コンテナ1--------->
<h1 id="cat_info">オーナー猫ちゃん情報</h1>

<!--猫モーダル-->
<div id="cat-show" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true"></div>
<div id="cat-edit" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true"></div>
<div id="cat-plan" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true"></div>

<div id="cat_area-show">
 <!----------コンテナ2-------------------------------> 
 <div class="container">
     <div class="row">
         <div class="col-md-12">
            <% if @cats.count == 0 %>
            
            <!--猫未登録-->
            
              <div id="none_cat_field">
                  <h3>まだ猫ちゃん登録されてません</h3>
              </div><br>
              
            <!--猫未登録-->
            <!--猫登録-->
            <% else %>
              <div id="present_cat">
                  <table class="table table-bordered table-striped" id="cat_table">
                     <thead>
                         <tr>
                             <th style="width:40px;"></th><th style="width:70%;">猫ちゃん名<br><span style="color:red">*予定ある場合表示</span></th><th colspan="2"></th>
                         </tr>
                     </thead>
                     <tbody>
                         <% @cats.each do |cat| %>
                           <tr>
                               <td><%= image_tag(cat_show_image_url(cat),size:"40x40") %></td>
                               <td>
                                　 <%=link_to "#{cat.cat_name}ちゃん",cat_modal_path(cat),remote:true,style:"color:black"; %>
                                   <% count = plan_count(cat)  %>
                                   <% over = date_over(cat) %>
                                   
                                   <!-- 通知関連-->
                                   <% if over==0 && count> 0 %>
                                     <br><br><%= link_to "[#{count}件の登録スケジュールあります]",plan_show_path(cat,cat.user),id:"count_link" %>
                                
                                   <% elsif over >0 %>
                                     <br><br id="br"><%=link_to "[#{over}件期限切れの計画あります確認ください]",plan_show_path(cat,cat.user) ,id:"over_link" %>
                                   <% end %>
                               </td>
                               <td>
                                   <div class=row>
                                       <div class="col-md-12">
                                           <%=link_to "編集",cat_edit_path(cat),remote:true,class:"btn btn-primary" %>
                                           <%=link_to "削除",cat_delete_path(cat),data:{confirm:"削除しますか？"},method: :delete,class:"btn btn-danger" %>
                                           <%=link_to "計画",cat_plan_path(cat),remote:true,class:"btn btn-info" %>
                                       </div>
                                   </div
                               </td>
                           </tr>
                         <% end %>
                     </tbody>
                  </table>
              </div>
            <!--/猫登録-->      
            <% end %>
            <div style="text-align:center"><%= link_to "新規猫ちゃん登録",cat_new_path(@user),class:"btn btn-primary btn-lg" %> </div>
         </div>
     </div>
 </div>
 <!----------コンテナ2------------------------------->  
</div>
<script>
     var obj = document.getElementById('over_link');
      var num =0;
      colorChange();
      function colorChange(){
    num +=1
    if(num %2 == 0){
        obj.style.color = "#ff3333";
       
    }
    else{
         obj.style.color = "#990000";
         
    }
    setTimeout("colorChange()",50);
}
 
</script>