<%= provide(:title,"#{@cat.cat_name}ちゃんスケジュール管理") %>
<div id="plan_head">
    <h1><%= "#{@cat.cat_name}ちゃんスケジュール管理" %></h1>
</div>
<!-- main -->
<div class="text-left" id="plan-link">
    <%=link_to "マイページに戻る",user_path(@cat.user),data: {"turbolinks" => false},class:"btn btn-primary btn-lg",id:"sc-link" %><br><br>
</div>

<div id="plan_main">
<!--新規-->
      
    </div>
<!--スケジュール更新-->    
    <div class="col-md-12">
        <div id="edit_plan">
            <h4><%= "#{@cat.cat_name}ちゃんの登録スケジュール" %></h4>
            <% if @schedules.count > 0 %>
            <div class="text-center"><%=will_paginate @schedules,previous_label: '&lt 前へ', next_label: '次へ &gt' %></div>
             <div class="text-left" id="button_area">
                      <button id="button1" class="btn btn-primary">更新作業する</button>
                      <button id="button2" class="btn btn-warning">更新終了</button>
                 </div>
            <%= form_with(model:@cat,url:plan_update_path(params:{cat_id:@cat.id}),local:true,method: :patch) do |f| %>
            <table class="table" id="plan_table">
                <thead>
                    <tr id="tr">
                        <th>日付</th><th style="width:45%;">予定スケジュール内容</th><th id="th"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @schedules.each do |schedule| %>
                     <%= fields_for "plans[]",schedule do |af| %>
                      <tr>
                          <td>
                              <% if schedule.plan_date< Date.today %>
                              <label class="plan_lb"> <span  style="background-color:red;color:#fff;padding:6px;font-size:8px;">
                                  期限切れ</span><br><%= schedule.plan_date %></label><br>
                              <% else %>
                                <label class="plan_lb"><%= schedule.plan_date %></label><br>
                              <% end %>
                              
                              <%= af.date_field :plan_date,class:"form-control date_form" %>
                         </td>
                          <td>
                                <p class="plan_p"><%= schedule.plan_content  %></p>
                                 <%= af.text_area :plan_content, row:4,class:"form-control area_form" %>
                          </td>
                          <td class="delete_form">
                              <%= link_to "終了/削除",plan_delete_path(schedule),data:{confirm:"終了させますか？"},method: :delete,class:"btn btn-danger delete_p" %>
                          </td>
                      </tr>
                      <% end %>
                    <% end %>
                </tbody>
            </table>
            <div style="text-align:center">
                <%= f.submit "内容更新",class:"btn btn-primary btn-block",id:"form_submit" %>
                <% end %>
            </div>
<!-- スケジュールそんざいする場合終了 -->
         <% else %>
          <div id="empty_plan">
              <label>まだスケジュールありません</label>
          </div>
         <% end %>    
        </div>
    </div>
    
</div>
<script>
    var date = document.getElementsByClassName("date_form");
    var area = document.getElementsByClassName("area_form");
    var label =document.getElementsByClassName("plan_lb");
    var del =document.getElementsByClassName("delete_form");
    var p = document.getElementsByClassName("plan_p");
    var th = document.getElementById("th");
    var button1 = document.getElementById("button1");
    var button2 = document.getElementById("button2");
    var submit = document.getElementById("form_submit");
    
    button1.addEventListener('click',function(){
       for(var i=0; i<date.length; i++){
           date[i].style.display = "block";
           area[i].style.display = "block";
           label[i].style.display = "none";
           p[i].style.display = "none";
           del[i].style.display ="none";
       }
       th.style.display = "none";
       button2.style.display = "block";
       button1.style.display = "none";
       submit.style.display = "block";
       
    });
    button2.addEventListener('click',function(){
       for(var i=0; i<date.length; i++){
           date[i].style.display = "none";
           area[i].style.display = "none";
           label[i].style.display = "block";
           p[i].style.display = "block";
          del[i].style.display ="block";
       }
       th.style.display = "table-cell";
       th.style.backgroundColor = "orange"
       button2.style.display = "none";
       button1.style.display = "block";
       submit.style.display = "none";
       
    });
    
    
    
    
</script>