<%= provide(:title,"施設検索") %>

<div id="search_head">
    <h1>猫関連施設検索</h1>
    <p class="text-primary">
      お住まいの都道府県と、施設のカテゴリーを元に<br>
      簡易的に目的の施設を検索できます<br>
      どうぞご利用ください。
    </p>
</div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div id="search_main">
                <%= form_with(url:search_post_path,local:true) do |f| %>
                 <div class="col-md-8 col-md-offset-2">
                   <div style="text-align:center;margin-top:4%";><%= f.label "施設カテゴリー" %></div>
                   <%= f.select :category,facilitys,{},class:"form-control" %><br>
                  <div style="text-align:center";><%= f.label "検索地域" %></div>
                   <%= f.text_field :prefectures,class:"form-control" %><br> 
                    <div style="text-align:center";>
                        <%= f.submit "検索する",class:"btn btn-primary" %>
                    </div>
                 </div>
                <% end %>
            </div>    
        </div>
    </div>
<%= @obj %>    
<!--table -->
<% if @obj.present? %>
  <table class="table table-bordered table-striped" id="history_table">
    <thead>
        <tr>
            <th>保存する</th><th>施設名</th><th>住所</th><th>電話番号</th>
        </tr>
        <tbody>
          
        </tbody>
    </thead>
</table>
<% end %>
