<%= provide(:title,"#{@cat.cat_name}ちゃん体重記録") %>

<div id="cat_weight-head">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div style="background-color:#c0c0c0;padding:3% 0 5% 0;background-color:#fff;  box-shadow: 4px 4px 4px cyan; border-radius:9px;">
               <h1><%= "#{@cat.cat_name}ちゃん体重検査一覧ページ" %></h1>
              <%= image_tag(cat_show_image_url(@cat),size:"200x200") %>
             </div>
        </div>
    </div>
</div>
<!--見出し部分ここまで-->
<%= link_to "戻る", lasted_weight_path(current_user),class:"btn btn-default",style:"width:15%;margin-bottom:5px;" %>
<% if @records.count > 0 %>
  <%= link_to "全リセット",all_reset_path(@cat),data:{confirm:"全てリセットしますよろしいですか？"},method: :delete,class:"btn btn-success" %>
<% end %>
<div class="row">
    <div class="col-md-12">
        <div id="weight_table_area">
            <table class="table" id="cat_record-table">
              <thead>
                  <th>実施日</th>
                  <th>理想体重(kg)</th>
                  <th>実際体重(kg)</th>
                  <th colspan="2">結果</th>
              </thead>
              <tbody>
                  <% @records.each do |record| %>
                    <tr>
                        <td><%= record.save_date %></td>
                        <td><%= record.ideal_weight %></td>
                        <td style="color:red;font-weight:bold;"><%= record.result_weight %></td>
                        <% if record.result == "標準です" %>
                          <td style="color:blue"><%= record.result %></td>
                        <% elsif record.result == "痩せてます" %>  
                          <td style="color:purple"><%= record.result %></td>
                        <% elsif record.result == "太ってます" %>  
                           <td style="color:red"><%= record.result %></td>
                        <% end %>  
                        <td><%= link_to "削除",weight_reset_path(record),data:{confirm:"削除しますか"},method: :delete,class:"btn btn-danger" %></td>
                    </tr>
                  <% end %>
              </tbody>
            </table>
        </div>
    </div>
</div>