<%=provide(:title,"健康チェック記録") %>
<div id="show_data_head">
    <h1><%= "#{@user.name}さん猫ちゃん体重検査記録" %></h1>
</div>
<div style="width:100%;">
</div><br>
<%= link_to "Topへ", root_path,data: {"turbolinks" => false},class:"btn btn-default",style:"width:20%;margin-bottom:1%;" %>
<div style="background-color:#fce2c4;" id="back">
<%  @cats.each do |cat| %>
 <% if cat.records.all.count > 0 %>
  <table class="table" id="weight_data_table">
    <thead>
        <tr>
            <th><span class="th">猫ちゃん名</span></th>
            <th><span class="th">最新のチェック日</span></th>
            <th><span class="th">理想体重</span>(kg)</th>
            <th><span class="th">実際の体重</span>(kg)</th>
            <th><span class="th">結果</span></th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <% data = weight_check(cat) %>
        <tr>
             <td style="font-weight:100">
               <%= image_tag(cat_show_image_url(cat),size:"40x40") %><br>     
               <span class="th"><%= cat.cat_name %></span>
             </td>
            <td style="font-size:14px"><%= data.save_date if data.present? %></td>
            <td style="font-size:14px"><%= data.ideal_weight.to_s if data.present? %></td>
            <td style="color:red"><%= data.result_weight  if data.present?%></td>
            <td style="font-size:10px"><span class="th"><%=data.result if data.present? %></span></td>
            <td>
              <% if data.result == "痩せてます" %>
                <%= image_tag('/w1.png',id:"weight",size:"80x80") %>
              <% elsif data.result == "標準です"  %>
                <%= image_tag('/w2.png',id:"weight",size:"80x80") %>
              <% elsif data.result == "太ってます"  %> 
                <%= image_tag('/w3.png',id:"weight",size:"80x80") %>
             <% end  %>
            </td>
            <%= link_to "他の日を見る",cats_weight_path(cat,cat.user) ,class:"btn btn-primary" %>
        </tr>
    </tbody>
</table><br>
<% end %>
<% end %>
<% if @data == false %>
<div style="text-align:center;padding:20px;">
    <h4 style="margin-top:8px;padding:20px;font-weight:bold;color:blue;">まだ健康チェックデータがありません</h4>
</div>
<% end %>
</div>