<%= provide(:title,"検査結果") %>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>実施日</th>
            <th>猫ちゃん名</th>
            <th>猫ちゃん体重</th>
            <th>理想体重</th>
            <th colspan="2">結果</th>
        </tr>
    </thead>
    <tbody>
<!--猫複数処理-->        
        <% if params[:records]  %>
           <% @obj.each do |id,obj| %>
           <tr>
              <td><%= obj[:date] %></td>
             <td><%= obj[:name] %></td>
             <td><%= obj[:weight] %></td>
             <td><%= obj[:data_weight] %></td>
             <td><%= obj[:result] %></td>
             <td>
                 <% if obj[:result] == "痩せてます" %>
                   <%= image_tag('/w1.png',id:"weight") %>
                <% elsif  obj[:result] == "標準です"  %>
                  <%= image_tag('/w2.png',id:"weight") %>
                <% elsif  obj[:result] == "太ってます"  %> 
                   <%= image_tag('/w3.png',id:"weight") %>
                 <% end  %>
             </td>
           </tr>
         <!-- each 文終了-->  
          <% end %> 
<!--未ログイン -->          
        <% elsif !logged_in? %>
           <td><%= @date %></td>
           <td><%= @name %></td>
           <td><%=params[:cat_weight] %></td>
           <td><%= @data_weight %></td>
           <td><%= @result %></td>
            <td>
              <%= render 'result_image' %>
            </td>
          
<!--猫単体処理-->          
        <% else %>
          <tr>
              <td><%= @date %></td>
              <td><%= @cat.cat_name %></td>
              <td><%= @cat.cat_weight %></td>
              <td><%= @data_weight %></td>
              <td><%= @result %></td>
              <td>
                <%= render 'result_image' %>
              </td>
          </tr>
        <% end %>
    </tbody>
</table>

<style>
    table{background:#c0c0c0;}
    th{background:orange;}
</style>