<%= provide(:title,"検査結果") %>

<div id="result_head">
    <% if params[:records] %>
      <h1>各猫ちゃん体重チェック結果</h1>
    <% elsif !logged_in? ||(logged_in? && @all_cats.count ==0) %>
       <h1><%= "#{@name}ちゃん体重チェック結果" %></h1>
    <% elsif params[:records] == nil && logged_in? %>   
       <h1><%= "#{@cat.cat_name}ちゃん体重チェック結果" %></h1>
    <% end %>
</div>
<%= form_with(url:result_create_path) do |f| %>
<table class="table table-bordered table-striped" id="result_table">
    <thead>
        <tr>
            <th><span class="th">実施日</span></th>
            <th><span class="th">猫ちゃん名前</span></th>
            <th><span class="th">猫ちゃん体重</span>(kg)</th>
            <th><span class="th">理想体重</span>(kg)</th>
            <th colspan="2"><span class="th">結果</span></th>
        </tr>
    </thead>
    <tbody>
<!--猫複数処理-->        
        <% if params[:records]  %>
           <% @obj.each do |id,obj| %>
           <%= fields_for "saves[]",id do |af| %>
           <tr>
              <td><%= obj[:date] %></td>
             <td><%= obj[:name] %></td>
             <td><%= obj[:weight] %></td>
             <td><%= obj[:data_weight] %></td>
             <td><%= obj[:result] %></td>
             
             <%= af.hidden_field :save_date,value:obj[:date] %>
             <%= af.hidden_field :cat_id,value:obj[:id] %>
             <%= af.hidden_field :ideal_weight,value:obj[:data_weight] %>
             <%= af.hidden_field :result_weight,value:obj[:weight] %>
             <%= af.hidden_field :result,value:obj[:result] %>
             
             <td>
                 <% if obj[:result] == "痩せてます" %>
                   <%= image_tag('/w1.png',id:"weight") %>
                <% elsif  obj[:result] == "標準です"  %>
                  <%= image_tag('/w2.png',id:"weight") %>
                <% elsif  obj[:result] == "太ってます"  %> 
                   <%= image_tag('/w3.png',id:"weight") %>
                 <% end  %>
             </td>
           </tr>
           <% end %>
         <!-- each 文終了-->  
          <% end %> 
<!--未ログイン -->          
        <% elsif !logged_in? || (logged_in? && @all_cats.count == 0) %>
           <td><%= @date %></td>
           <td><%= @name %></td>
           <td><%=params[:cat_weight] %></td>
           <td><%= @data_weight %></td>
           <td><%= @result %></td>
            <td>
              <%= render 'result_image' %>
            </td>
            
            
          
<!--猫単体処理-->          
        <% elsif logged_in? && @all_cats.count > 0 %>
          <tr>
              <td><%= @date %></td>
              <td><%= @cat.cat_name %></td>
              <td><%= @cat.cat_weight %></td>
              <td><%= @data_weight %></td>
              <td><%= @result %></td>
              <td>
                <%= render 'result_image' %>
              </td>
              <%= f.hidden_field :save_date,value:@date %>
              <%= f.hidden_field :cat_id,value:@id %>
              <%= f.hidden_field :ideal_weight,value:@data_weight %>
              <%= f.hidden_field :result_weight,value:@cat.cat_weight %>
              <%= f.hidden_field :result,value:@result %>
          </tr>
        <% end %>
    </tbody>
</table>


<% if params[:records] ==nil %>
  <% if @result == "標準です" %>
    <p style="color:b;font-weight:bold;font-size:14px;">
        理想的な体重です。このまま維持できるよう頑張りましょう。
    </p>
  <% elsif @result == "痩せてます" %>
     <p style="color:blue;font-weight:bold;font-size:14px;">
        猫が痩せるのは肥満とは違い、なんらかの病気が関わっている場合があります。<br>
        あまり、体重が変わらないようでしたら、一度獣医さんに見てもらいましょう。
    </p>
  <% elsif @result  == "太ってます" %>
     <p style="color:red;font-weight:bold;font-size:14px;">
        肥満です。病気や足腰をいためる原因になるため食べさせすぎに気をつけ<br>標準体型なるよう目指しましょう。
    </p>
  <% end %>
<% end %><br>
<% if logged_in? && @all_cats.count >0 %>
  <div style="text-align:center">
      <%= f.submit "検査を記録する",class:"btn btn-primary" %>
  </div>
<% end %>
<% end %>

<style>
    table{background:#c0c0c0;}
    th{background:orange;}
</style>