<%= provide(:title,"健康チェック") %>
<!--メインタイトル-->
<div id="main-head"　class="text-center;">
    <h1>猫ちゃん健康チェック</h1>
    <p class="text-primary text-center">
        猫ちゃんの体重を測って、健康状態を把握しよう<br>
        理想の体重の目指し健康を維持してあげましょう
    </p>
</div>
<div class="record_main">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="record_area">
                <div id="info">
                    <h5>体重チェックする猫ちゃんを選んでください</h5>
                </div>
                <!-- 選択関連 -->
                <% if logged_in? %>
                      <!--登録猫いなかったら -->
                        <% if @cats.count ==0 %>
                          <h3>登録猫ちゃんがいません</h3>
                        <% else %>
                        <div class="form-inline">
                            <%= form_with(url:record_path,local:true) do |f| %>
                             <%= f.select :select,@array,{},class:"form-control",id:"select" %>
                             <%= f.submit "選択",class:"btn btn-primary", id:"btn" %>
                            <% end %>    
                        </div> 
                        <table class="table">
                          <% if params[:select] == "すべての猫ちゃん" %>
                             <% @cats.each do |cat| %>
                               <tr>
                                   <td><span style="color:blue">猫ちゃん名:</span><%= cat.cat_name %></td>
                                   <td><span style="color:blue">年齢:</span><%= "#{cat.cat_age}歳" %></td>
                                   <td><span style="color:blue">体重:</span><%= "#{cat.cat_weight}kg" %></td>
                               </tr>
                             <% end %>
                        <!--個別選択された場合-->     
                          <% else %>
                            <tr>
                                <td><span style="color:blue">猫ちゃん名:</span><%= @cat.cat_name %></td>
                                <td><span style="color:blue">年齢:</span><%="#{@cat.cat_age}歳" %></td>
                                <td><span style="color:blue">体重:</span><%= "#{@cat.cat_weight}kg" %></td>
                            </tr>
                          <% end %>
                        </table>
                        <!--/登録猫いなかったら --> 
                      <% end %>
                     
                <!--ここまでログイン済み処理-->
                <% else %>
                   <div id="loginess">
                       <h4>ログインされてません</h4>
                   </div>
                <% end %>  
                  <!--ログインしてるか->
                <!-- /選択関連 -->
            </div>
        </div>
    </div>
</div>
