<%= provide(:title,"健康チェック") %>
<!--メインタイトル-->
<div id="main-head"　class="text-center;">
    <h1>猫ちゃん健康チェック</h1>
    <p class="text-primary text-center">
        猫ちゃんの体重を測って、健康状態を把握しよう<br>
        理想の体重の目指し健康を維持してあげましょう
    </p>
</div>
<div class="record_main">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="record_area">
                <div id="info">
                    <h5>体重チェックする猫ちゃんを選んでください</h5>
                </div>
                <!-- 選択関連 -->
                <% if logged_in? %>
                      <!--登録猫いなかったら -->
                        <% if @cats.count ==0 %>
                          <h3>登録猫ちゃんがいません</h3>
                        <% else %>
                        <div class="form-inline">
                            <%= form_with(url:record_path,local:true) do |f| %>
                             <%= f.select :select,@array,{},class:"form-control",id:"select" %>
                             <%= f.submit "選択",class:"btn btn-primary", id:"btn" %>
                            <% end %>    
                        </div> 
                          <!--このform_withは猫が単数か複数で分岐します-->   
                          
                        <%= form_with(url:result_view_path,local:true) do |f| %>
                            <table class="table">
                              <% if params[:select] == "すべての猫ちゃん" %>
                                 <% @cats.each do |cat| %>
                                 <!--猫複数分岐-->
                                  <%= fields_for "records[]",cat do |af| %>
                                   <tr>
                                       <td><%= image_tag(cat_show_image_url(cat),size:"40x40") %></td>
                                       <td><span style="color:blue">猫ちゃん名:</span><%= cat.cat_name %></td>
                                       <% if cat.cat_age <= 1.0 %>
                                         <td><%= af.select :cat_age,cat_ages,{},class:"form-control" %></td>
                                       <% else %>
                                          <td><span style="color:blue">年齢:</span><%= "#{cat.cat_age}歳" %></td>
                                         <%= af.hidden_field :age,value: cat.cat_age %>
                                       <% end %>
                                       <td><span style="color:blue">体重:</span><%= "#{cat.cat_weight}kg" %></td>
                                       <%= af.hidden_field :id,value: cat.id %>
                                       <%= af.hidden_field :name,value: cat.cat_name %>
                                       <%= af.hidden_field :width,value: cat.cat_weight %>
                                   </tr>
                                  <!--fields_for終了--> 
                                  <% end %> 
                                  <!--猫複数分岐終了-->
                                 <% end %>
                            <!--個別選択された場合-->     
                              <% else %>
                                <tr>
                                    <td><%= image_tag(cat_show_image_url(@cat),size:"40x40") unless @cat.cat_image.nil?  %></td>
                                    <td><span style="color:blue">猫ちゃん名:</span><%= @cat.cat_name %></td>
                                    <% if @cat.cat_age.to_f <= 1.0 && @cat.cat_age.present? %>
                                         <td><%= f.select :age,cat_ages,{},class:"form-control" %></td>
                                    <% else %>
                                      <td><span style="color:blue">年齢:</span><%="#{@cat.cat_age}歳" %></td>
                                      <%= f.hidden_field :age,value: @cat.cat_age %>
                                    <% end %>
                                   
                                    <td><span style="color:blue">体重:</span><%= "#{@cat.cat_weight}kg" %></td>
                                    
                                    <!-- form単数分岐-->
                                    <%= f.hidden_field :id,value: @cat.id %>
                                    <%= f.hidden_field :name,value: @cat.cat_name %>
                                    <%= f.hidden_field :weight,value: @cat.cat_weight %>
                                </tr> 
                              <% end %>
                            </table>
                            <div style="text-align:center">
                                <% if params[:select] == "すべての猫ちゃん"  %>
                                 <%=f.submit "健康チェック開始",class:"btn btn-primary"%>
                                <% elsif !@cat.cat_name.nil? %>
                                   <%=f.submit "健康チェック開始",class:"btn btn-primary"%>
                                <% end %>
                            <!--form終了 -->    
                                <% end %>
                            </div>
                            <!--/登録猫いなかったら --> 
                          <% end %>
                         
                <!--ここまでログイン済み処理-->
                <% else %>
                   <div id="loginess">
                       <h4>ログインされてません</h4>
                   </div>
                <% end %>  
                  <!--ログインしてるか->
                <!-- /選択関連 -->
            </div>
        </div>
    </div>
</div>
