<div id="post_index_main">
    <div id="post_index_head">
        <h1><%= yield(:h1) %></h1>
        <p class="text-primary">
        　皆さんの猫ちゃんについての相談や質問、日々の出来事など、<br>
        　なんでも投稿しよう
        </p>
    </div>
<!--メニュー -->
    <div id="post_index_menu">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <% if logged_in? %>
                      <%= link_to "新規投稿", new_user_post_path(current_user),class:"btn btn-primary",style:"width:200px;margin-right:30px;margin-top:40px;" %>
                    <% else %>
                      <div class="alert alert-warning">投稿するにはログインしてください</div>
                    <% end %>
                </div>
                <div class="col-md-4"><%=will_paginate @posts,previous_label: '&lt 前へ', next_label: '次へ &gt' %></div>
                <div class="col-md-5"></div>
            </div><br>
            <!-- ここにカテゴリー検索box-->
          <div  class="row">
              <div class="col-md-3">
                  <%= form_with(url:posts_path,local:true) do |f| %>
                     <%= f.select :category,@data,{},class:"form-control",id:"select" %>
               </div>
              <div class="col-md-1">
                  <%= f.submit "カテゴリー検索",class:"btn btn-primary",id:"category_bt" %>
              </div>
            <% end %>      
          </div><br>
        </div>
    </div>
    <!--  編集モーダル-->
    <div id="post_edit" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true"></div>
    
<!--投稿エリア-->    
    <div class="container">
        <div class="row">
<!-- 投稿覧 -->        
            <div class="col-md-9">
                <div id="post_index_left">
                    <% if logged_in? %>
                     <label id="post_index_info">投稿コメントにしたい場合はタイトルを押してください</label>
                    <% else %>
                    　<label id="post_index_info">投稿するにはログインが必要です。</label>
                    <% end %>
                    <label id="phone_title">表示は上からタイトル、カテゴリー、内容です。</label>
<!--投稿一覧-->     <table id="post_index_table">
                      <thead>
                          <tr>
                             <th>
                               <div class="row">
                                   <div class="col-md-2"></div>
                                   <div class="col-md-5"><label id="td_title">タイトル</label></div>
                                   <div class="col-md-5"><label id="td_category">カテゴリー</label></div>
                             </th>      
                          </tr>
                      </thead>
                      <tbody>
                         <%= render @posts %>
                        
                      </tbody>
                    </table>
                </div>      
            </div>
<!--投稿中央 -->            
            <div class="col-md-0">
                <div id="post_index_center"></div>
            </div>
<!--投稿右-->
            <div class="col-md-3">
                 <div id="post_index_right">
                     <p>投稿日</p>
                     <ul id="post_index_ul">
                         <% 14.times  do |i| %>
                            <li><%= link_to post_day[i], posts_path(params:{date: post_day[i]})  unless post_day[i].nil? %></li>
                         <% end %>
                     </ul>
                    
                     <div id="div-title">投稿者</div>
                     <ul id="post_index_ul">
                         <% post_names.each do |name| %>
                           <% if name.present? %>
                            <li><%= link_to name, posts_path(params:{name: name}) %></li>
                           <% end %>
                         <% end %>
                     </ul>
                   
                 </div>
            </div>
        </div>
    </div>
