<div id="post_index_main">
    <div id="post_index_head">
        <h1><%= yield(:h1) %></h1>
        <p class="text-primary">
        　皆さんの猫ちゃんについての相談や質問、日々の出来事など、<br>
        　なんでも投稿しよう
        </p>
    </div>
<!--メニュー -->
    <div id="post_index_menu">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <% if logged_in? %>
                      <%= link_to "新規投稿", new_user_post_path(current_user),class:"btn btn-primary btn-lg",style:"margin-top:10%;",id:"btn" %>
                    <% else %>
                      <div class="alert alert-warning">投稿するにはログインしてください</div>
                    <% end %>
                </div>
                <div class="col-md-4">
                    <% if @posts2.present? %>
                    <!-- 全体検索かどうか -->
                      <%=will_paginate @posts2,previous_label: '&lt 前へ', next_label: '次へ &gt'  %></div>
                      <%  posts = @posts2 %>
                      <% if @posts2.count>5 %>  <!-- ページネーション対策 -->
                           <style>
                              #post_index_left{margin-top:-8%;}
                              #post_index_right{margin-top:-25%;}
                          </style>
                      <% end %>      
                    <% elsif @post2.nil? && @posts.present? %>  <!--個別検索時 -->
                      <% posts = @posts %>
                      <style>
                          #post_index_left{margin-top:0%;}
                          #post_index_right{margin-top:0%;}
                      </style>
                    <% else @posts2.nil? && @posts.nil? %> <!--検索して結果無し -->
                       <style>
                          #post_index_left{margin-top:0%;}
                          #post_index_right{margin-top:0;}
                      </style>
                    <% end %>
                <div class="col-md-5"></div>
            </div><br>
        </div>
    </div>
    <!--  編集モーダル-->
    <div id="post_edit" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true"></div>
    
<!--投稿エリア-->    
    <div class="container">
        <div class="row">
<!-- 投稿覧 -->        
            <div class="col-md-9">
                <div id="post_index_left">
                    <% if logged_in? %>
                     <label id="post_index_info">投稿コメントにしたい場合は該当記事をクリックしてください。</label>
                    <% else %>
                    　<label id="post_index_info">投稿するにはログインが必要です。</label>
                    <% end %>
<!--投稿一覧-->     <table id="post_index_table">
                      <thead>
                         
                      </thead>
                      <tbody>
                         <% if posts.nil? %>   <!--検索して結果無し -->
                           <h4 style="color:blue;">まだ何も投稿されてません</h4>
                         <% else %>   
                            <%= render posts %>
                         <% end %>
                      </tbody>
                    </table>
                    
                </div> 
               
            </div>
            
<!--投稿中央 -->            
            <div class="col-md-0">
                <div id="post_index_center"></div>
                
            </div>
<!--投稿右-->
            <div class="col-md-3">
                 <div id="post_index_right">
                     <p style="font-size:14px">カテゴリー検索</p>
                        <%= form_with(url:posts_path,local:true) do |f| %>
                         <%= f.select :category,@datas,{},class:"form-control",id:"select",style:"width:100%;margin:0 0 5px 0"; %>
                          <%= f.submit "カテゴリー検索",class:"btn btn-primary",id:"category_bt",style:"margin-bottom:5px;" %>
                        <% end %> 
                     <p>投稿日検索</p>
                     <%= form_with(url:posts_path,local:true) do |f| %>
                       <%= f.date_field :date %>
                       <%= f.submit "日付検索",class:"btn btn-primary" %>
                     <% end %>
                     <div id="div-title">投稿者名検索</div>
                         <%= form_with(url:posts_path,local:true) do |f| %>
                           <%= f.select :name,name_list,{},class:"form-control" %>
                           <%= f.submit "投稿者検索",class:"btn btn-primary",style:"margin:1% 0"; %>
                         <% end %>
                 </div>
            </div>
        </div><br>
          <%= link_to "TOPへ",root_path,data: {"turbolinks" => false},class:"btn btn-primary  btn-block",id:"top_link" %>
    </div>
 