<%= provide(:title,"新規投稿") %>
<%= provide(:url,user_posts_path(@user)) %>
<%= provide(:button,"投稿する") %>
<%= provide(:send, :post) %>


<div id="new_post_head">
  <h1>新規登録</h1>
</div>
 
<!--ユーザー新規登録メインエリア-->
<%= render 'form' %>
<div id="new_post_back">
  <%= link_to "一覧へ戻る",posts_path,data: {"turbolinks" => false},class:"btn btn-default" %>
</div>

