 <header class="navbar navbar-fixed-top bg-dark" style="background-color:#000;",id="nav_pc">
     <nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
　　　<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
	 </button>
	        <%=image_tag('/cat.png',size:"30x30",style:"margin-top:10px") %>
			<%= link_to "ハッピーフィールド", root_path,data: {"turbolinks" => false}, id: "logo",style:"color:orange" %>
			<h5 style="color:#fff"; id="h5">猫オーナーのためのアプリ</h5>
		</div>
		<div class="collapse navbar-collapse" id="navbarEexample7">
			<ul class="nav navbar-nav">
				<li><%= link_to "Top", root_path,data: {"turbolinks" => false},style:"font-size:20px;color:#c0c0c0;" %><li>
				<li><%= link_to "投稿コーナー",posts_path,data: {"turbolinks" => false},style:"font-size:18px;color:#c0c0c0;" %></li>
				<li><%= link_to "健康チェック", record_path,style:"font-size:20px;color:#c0c0c0;" %></li>
			    <li><%= link_to "検索", search_show_path,style:"font-size:20px;color:#c0c0c0;" %></li>
			    <% if logged_in? %>
			       <li style="color:#fff;margin-top:10px;font-size:16px;">
                      <%= image_tag(show_image_path(current_user.id),size:"30x30",id:"header_img") %>
                      <%= "こんにちは#{current_user.name}さん" %>
                  </li>
			    <% end %>
			</ul>
		
          <ul class="navbar-text navbar-right">
          	 <% if logged_in? %>
       
            <!-- ドロップダウン -->    
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:orange;font-weight:bold;text-decoration:none;">
                  オーナーメニュー <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "マイページ", current_user %></li>
                  <li><%= link_to "オーナー編集", edit_user_path(current_user),data:{"turbolinks" => false}  %></li>
                  <li><%= link_to "猫ちゃん体重記録", lasted_weight_path(current_user) %></li>
                  <li><%= link_to "猫ちゃん登録", cat_new_path(current_user) %></li>
                  <li><%= link_to "施設検索履歴", history_user_view_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "ログアウト", logout_path, method: :delete %>
                  </li>
                </ul>
              </li>
              <ul id="pc_header">
                <div class="row">
                  <div class="col-md-3 "><%= link_to "マイページ", current_user,class:"btn btn-primary",id:"dp-li" %></div>
                  <div class="col-md-3"><%= link_to "オーナー編集", edit_user_path(current_user),data:{"turbolinks" => false},class:"btn btn-primary",id:"dp-li"  %></div>
                  <div class="col-md-3"><%= link_to "猫ちゃん体重記録", lasted_weight_path(current_user),class:"btn btn-primary",id:"dp-li"%></div>
                  <div class="col-md-3"><%= link_to "猫ちゃん登録", cat_new_path(current_user) ,class:"btn btn-primary",id:"dp-li" %></div>
                  <div class="col-md-3"><%= link_to "施設検索履歴", history_user_view_path(current_user) ,class:"btn btn-primary",id:"dp-li" %></div>
                   <div class="col-md-3"><%= link_to "ログアウト", logout_path, method: :delete ,class:"btn btn-danger",id:"dp-li"%></div>
                </div>
              </ul>
     
            <% else %>
            <div class="conteiner">
             <div class="row">
                 <div class="col-md-3">
                  <%= link_to "ログイン/新規登録 ",login_path,class:"btn btn-default btn-lg",id:"login_link" %>
                 </div>
                 <div class="col-md-3 col-md-offset-1">
                   <a href="/auth/google_oauth2" class="btn btn-danger" id="google_link"><%=image_tag('/g.png',size:"20x20") %>Googleでログイン</a>
                 </div>
                 
                <div class="col-md-3 col-md-offset-1">
                   <a href="/auth/facebook" class="btn btn-primary" id="facebook_link"><%=image_tag('/f.png',size:"20x20") %>Facebookでログイン</a>
                 </div>
              <div class="col-md-3"></div>   
               </div>
            <% end %>

          </ul></p>

		</div>
	</div>
	<% if logged_in? %>
	  <% if current_user.admin? %>
	   <h1 style="color:#fff;margin-top:1%;margin-right:1%;">管理者専用</h1>
	   <%= link_to "ログアウト", logout_path, method: :delete ,class:"btn btn-danger",style:"margin_left:2%;",id:"admin_bt"%>
	   <style>
	       .nav{display:none;}
	       .dropdown{display:none;}
	       header{margin-bottom:20%;}
	       @media screen and (max-width: 767px){
	           .navbar-toggle{display:none;}
	       }
	   </style>
	<% end %>
	<% end %>
	</div>
	</nav>
</header>
  