<!DOCTYPE html>
<html>
  <head>
    <title><%= title_name(yield(:title)) %></title>
    <meta name="viewport" content=width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" href="app/assets/stylesheets/slick.css">
    <link rel="stylesheet" href="app/assets/stylesheets/slick-theme.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="app/assets/javascripts/slick.min.js"></script>
    <script src="app/assets/javascripts/users.js"></script>
  </head>

  <body>
   <% if content_for?(:body_attributes) %>
    <%= yield(:body_attributes) %>
   <% end %>
   <%= render 'layouts/header' %><br><br>
   <% flash.each do |message_type, msg| %>
     <div class="alert alert-<%= message_type %>"><%= msg %></div>
   <% end %>
    <%= yield %>
  </body>
</html>
