<!DOCTYPE html>
<html>
  <head>
    <title><%= title_name(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top bg-dark" style="background-color:#000;">
      <div class="container">
        
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <li><%=image_tag('/cat.png',size:"30x30",style:"margin-top:10px") %></li>
            <li style="margin-top:10px;"><%= link_to "ハッピーフィールド", '#', id: "logo" %></li>
            <li><%= link_to "Top",   '#',style:"font-size:20px;color:#c0c0c0;" %></li>
            <li style="margin-left:10px;"><%= link_to "日記", '#',style:"font-size:18px;color:#c0c0c0;" %></li>
            <li style="margin-left:10px;"><%= link_to "健康チェック", '#',style:"font-size:20px;color:#c0c0c0;" %></li>
            <li style="margin-left:10px;"><%= link_to "質問/回答", '#',style:"font-size:20px;color:#c0c0c0;" %></li>
            <li style="margin-left:10px;"><%= link_to "検索", '#',style:"font-size:20px;color:#c0c0c0;" %></li>
          </ul>
           <ul class="nav navbar-nav navbar-right">
           
            <li style="margin-left:10px;"><%= link_to "ログイン", '#',style:"font-size:20px;color:#c0c0c0;" %></li>
            <li><%=image_tag('/g.png',size:"30x30",style:"margin-top:10px;margin-right:5px;") %></li>
            <li><%=image_tag('/f.png',size:"30x30",style:"margin-top:10px") %></li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
