<!DOCTYPE html>
<html>
  <head>
    <title>CatsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Cat App", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Top",   '#' %></li>
            <li><%= link_to "日記", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
